body {
    background-color: #0d0d1d;
    background-color: #0d0d1d;
    background-color: #0d0d1d;
    background-color: #0d0d1d;
    background-color: #0d0d1d;
    background-color: #0d0d1d;
    background-color: #0d0d1d;
    background-color: #0d0d1d;
    background-color: #0d0d1d;
    background-color: #0d0d1d;
    background-color: #0d0d1d;
    background-color: #0d0d1d;
    background-color: #0d0d1d;
    background-color: #0d0d1d;
    background-color: #0d0d1d;
    background-color: #0d0d1d;
    background-color: #0d0d1d;
    background-color: #0d0d1d;
    background-color: #0d0d1d;
    background-color: #0d0d1d;
    background-color: #0d0d1d;
    color: white;
}
.app {
    width: 50%;
    height: 70%;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Fredoka One', cursive;
}
h1 {
    font-family: 'Permanent Marker', cursive;
}
textarea {
    width: 80%;
    height: 40%;
    background-color: transparent;
    color: white;
    resize: none;
}
.calc {
    position: absolute;
    right: 3%;
    background-color: white;
    border: 3px white;
    color: #0d0d1d;
    transition: 0.1s ease;
}
button:hover {
    transform: scale(1.1);
}
.act1 {
    transition: 0.1s ease;
}
.act2 {
    transition: 0.1s ease;
}
